// Header Section
// --------------------------------------------------
.headband {
  background: $headband-bg;
  height: $headband-height;

  +tablet-mobile() {
    display: none;
  }
}

.header {
  background: $head-bg;
}

.header-inner {
  main-container();
}

.site-brand-container {
  display: flex;
  flex-shrink: 0;
  padding: 0 10px;
  +tablet-mobile() {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 31;
  }
}

.use-motion {
  .header, .site-brand-container .toggle {
    opacity: 0;
  }
}

@import 'site-meta';
@import 'site-nav';
@import 'menu';

@import 'bookmark';
@import 'github-banner';
